<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB LIB</title>
</head>
<body>
    <h1>Welcome to WEB LIB</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Ipsa laborum, eligendi fuga culpa deserunt deleniti laudantium, a
        spernatur nam sapiente iusto inventore quaerat praesentium provident minus 
        id quo similique itaque omnis!
    </p>
    {% block content %}

    {% endblock %}
</body>
</html>